<%= provide(:title, "Dicas") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tip.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tip.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @tip.category.title %>
</p>
