<footer class="footer">
  <small>
    Site <a href="/">Pensando Verde</a>
    Desenvolvido <a href="#">OmnesTI</a>
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Postagens",   'microposts' %></li>
      <li><%= link_to "Produtos",   products_path %></li>
      <li><%= link_to "Dicas",   tips_path %></li>
      <li><%= link_to "Contato",   contact_path %></li>
    </ul>
  </nav>
</footer>
